.homeWrap {
  padding: 20px;
  width: 30%;
  margin: auto;
}
.homeWrap input {
  width: 100%;
  height: 50px;
  border: 1px solid #868686;
  border-radius: 4px;
  margin: auto;
  padding: 0 20px;
  display: block;
}
button {
  outline: none;
  background-color: #358c9b;
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  color: #fff;
  border: none;
  font-size: 20px;
  border-radius: 8px;
}
li{
  padding: 10px;
  width: 100%;
}
.bg-dark {
  background-color: #868686;
}
.bg-primary {
  background-color: #6cb5c2;
}